/* .dashboard-list {
  color: black;
  overflow-y: visible;
} */

.dashboard {
  margin-left: 15em;
  margin-top: 5em;
}

.dashboard-manage {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

#joblist {
  margin-top: 3em;
}

#handyman-accept-job {
  padding-bottom: 5em;
}

.revenue-card {
  display: flex;
  justify-content: center;
  margin-left: 12%;
  margin-right: 20%;
  margin-bottom: 2em;
}

#card-border {
  border-radius: 2em;
}

table {
  width: 100%;
}

tr, th, td {
  border: 1px solid;
}

#table {
  overflow-x: auto;
}

@media screen and (max-width: 780px) {
  .dashboard {
    margin-left: 0;
    margin-top: 0;
  }

  #job-card {
    margin-left: 26.6px;
    margin-bottom: 30px;
  }
  
  .dashboard-manage {
    margin-top: 2em;
    margin-left: 35px;
    margin-right: 20px;
  }
}