.loading {
  display: block;
  /* margin-bottom: 25%; */
}

.loading-text {
  font-size: 2em;
  display: flex;
  justify-content: center;
  /* margin-top: 20%; */
}

.loading-icon {
  display: flex;
  justify-content: center;
}
