body {
  background-color: #F4F6F8;
}

.relaks-logo {
  display: block;
  text-align: center;
  margin-left: 35%;
  margin-right: 12%;
  width: 50%;
  justify-items: center;
}

svg:not(:root) {
  overflow: hidden;
}

.relaks-login {
  display: block;
  margin-left: 35%;
  margin-right: 12%;
  width: 50%;
}

#login-header {
  /*text-justify: center;*/
  margin-left: 0%;
  margin-right: 0;
}

.relaks-input {
  width: 70%;
  height: 2.5em;
  margin-bottom: 3em;
  border: 1px solid #c4cdd5;
  border-radius: 4px;
}

.error-message {
  margin-top: 1rem;
  color: red;
}

#email-text {
  margin-top: 3em;
}

.submit-button {
  width: 70%;
  height: 4em;
  background-color: #52C8FA;
  border: none;
}

#forgot-password, #signup-text {
  color: #F5A623;
}

.checkbox {
  margin-bottom: 3em;
  margin-top: 0.7em;
  margin-left: 0.5em;
}
#password {
  margin-bottom: 0;
}
button:hover {
  background-color: aquamarine;
}

#signup {
  margin-top: 1.5em;
  text-align: center;
}

button:active {
  background-color: darkcyan;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 30px;
    min-height: 300px;
    max-height: 480px;
    overflow: auto;
    position: relative;
  }
  
  .relaks-logo {
    margin-right: 0;
    width: 170px;
    height: 125px;
    margin-left: 10%;
    margin-bottom: 0;
  }

  .relaks-login {
    margin: 0;
    width: auto;
  }

  #login-header {
    margin-left: 0;
    margin-top: 0px;
    font-size: 1.2rem;
    text-align: center;
  }

  /* label {
    margin-left: 50px;
  } */

  .relaks-input {
    display: block;
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.43;
    border: 1px solid #c4cdd5;
    border-radius: 4px;
    height: 2.8em;
    margin-bottom: 0;
    outline: none;
    resize: none;
  }

  #forget-password {
    margin-left: 50px;
  }

  .submit-button {
    width: 100%;
    display: block;
    padding: 14px 16px;
    line-height: 1.71;
    text-align: center;
  }

  #signup {
    margin-top: 0.5em;
  }
}