 #pricing-page {
   margin-left: 2em;
   color: blue;
 }

 #pricing-page-text {
   display: flex;
   justify-content: center;
   padding-bottom: 1em;
   margin-bottom: 1em;
 }

 #benefit-id {
   padding-top: 8em;
 }

 .pricing-card {
   padding-left: 30px;
 }

 #card-pricing1, #card-pricing2, #card-pricing3 {
   margin-bottom: 50px;
   display: flex;
   justify-content: center;
 }

 .card-title {
   display: flex;
   justify-content: center;
 }

 .card-text {
   display: flex;
   justify-content: center;
 }

 .pricing-button {
   display: flex;
   justify-content: center;
 }

 #pricing-button {
   border-radius: 1.8em;
 }